body {
	padding: 0;
	margin: 0;
	background: transparent url("../img/space.jpg") 50% fixed no-repeat;
	background-size: cover;
	font-family: 'pacifico';
}

.wrapper {
	width: 50%;
	margin: auto;
}

h1 {
	position:absolute;
	bottom: 50px;
	left: 200px;
	transform: translateX(-50%);
	margin-left: 100px;
	font-size: 5rem;
	color: white;
}

.spacey {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 300px;
}

.thought {
	position: absolute;
	right: 200px;
	bottom: 400px;
	width: 600px;
	height: 500px;
	background-image: url(../img/thought.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#poetry {
	color: black;
	margin: 110px 150px 0 150px;
	width: 350px;
	font-size: 24px;
}